* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: open-sans-r;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: open-sans-b;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 400;
    font-style: bold;
}

body {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

/*popup*/

.popupall {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 4;
      display: flex;
    align-items: center;
    justify-content: center;
    display: none;


}

.popup {
    background-color: white;
     width: 390px;
    border: none;
    position: relative;
    display: none;


}


.topbtn {
    width: 18px;
    height: 18px;
    font-size: 17px;
    position: absolute;
    top: -15px;
    left: 380px;
    border: none;

}

.title h2 {
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

.title h2::after {
    content: "";
    display: block;
    width: 66px;
    height: 4px;
    background: #e4dabf;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}

.popup__wrap {
    width: 330px;
    margin: 0 auto;

}

.popup {
    width: 390px;
    border: 1px solid black;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 48px;
    webkit-appearance: none;
    moz-appearance: none;
    appearance: none;
    background: #f3f7f6;
    background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/city-select/img/select-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 14px center;
    margin-top: 12px;
    margin-bottom: 37px;
}

.select:focus {
    outline: 2px solid #b79f61;
    outline-offset: 4px;
}

.radiobtn {
    font-size: 14px;
    margin-right: 16px;
    cursor: pointer;
}

.rb {
    display: none;
}

.subscribe-title {
    margin-bottom: 12px;
    display: block;

}

.yes {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #b69f5c;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    margin-right: 5px;
    background-color: white;
    vertical-align: middle;
    position: relative;
}

.yes:before {
    content: "";
    position: absolute;
    background: #b69f5c;
    width: 10px;
    height: 10px;
    opacity: 0;
    transition: 0.3s;
    top: 2px;
    bottom: 2px;
    left: 2px;
    border-radius: 100px;
}

.rb:checked + .yes:before {
    opacity: 1;
}

.aboout {
    margin-top: 36px;
}

.about-title span {
    margin-bottom: 12px;
    display: block;
}

.about-field {
    min-height: 132px;
    max-height: 132px;
    min-width: 100%;
    background: #f3f7f6;
    border: none;
}

.btn {
    text-transform: uppercase;
    background: #b69f5b;
    color: #ffffe3;
    width: 100%;
    height: 48px;
    margin-top: 26px;
    margin-bottom: 54px;
    border: none;
}


/*header*/

.content {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.header {
    max-width: 100%;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
    padding: 30px 0;
}

.header-logo  {
    width: 179px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu nav {
    margin:0;
    font-size: 13px;
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-list-item:not(:first-child){
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}

.burger {
    width: 25px;
    height: 19px;
    visibility: hidden;
}

.burger__line {
    display: block;
    width: 23px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.content__logo {
    display: none;
}

.content h1 {
  width: 700px;
    font-family: open-sans-b;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 194px 0 146px 0;
    line-height: 1.3;
    color: #ffffff;
}

/*section text*/

.text h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 64px;
    display: block;
    font-family: open-sans-b, sans-serif;
    font-size: 20px;

}

.text h2::after {
    content: "";
    display: block;
    background: #b59f5b;
    width: 67px;
    height: 3px;
    position: relative;
    margin-top: 14px;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
}

/*section 4box*picture*/

.hop {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 23%;
    height: 319px;
    background-color: rgba(0, 0, 0, 0.7);

}



.second {
    background-image: url(../images/trend2.jpg);
}

.third {
    background-image: url(../images/trend3.jpg);
}

.fourth {
    background-image: url(../images/trend4.jpg);
}

.box-middle {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: flex-end;
    display: flex;
}

.cont {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 3px solid  #7f754d;
    padding: 39px 44px 37px 32px;
}


.cont ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-link {
    text-decoration: none;
    color: #c79f25;
    padding-right: 19px;

    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.cont-link {
    color: #ffffff;
    font-size: 20px;
    font-family: open-sans-b, sans-serif;

}

/*main *article+aside**/

.page {
    margin-top: 60px;
}

.page-wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;

}

.post {
    margin-top: 60px;
}

.post-img {
    background-size: 100% auto;
    width: 380px;
}

.main {
    width: 778px;
}


.post-description {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

.post-description-item {
    display: flex;
    display: inline-block;
}

.post-description-link {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #0f0d0e;
}


.post-title {
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 40px;

}

.data {
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
}

.data-link {
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    color: #000000;

}

.text-post {
    margin-top: 57px;
}

.text-post > p {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.text-post > p:not(:first-child){
    margin-top: 20px;
}

.post-content {
    margin-left: 30px;
}
.section {
    margin-top: 20px;
    display: flex;
}

.section-img {
    display: block;
    width: 70px;
}


.post, .section {
    display: flex;
    box-sizing: border-box;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
}

.titlex {
    margin-top: 60px;

    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}

.section-link {
    color: #000000;
}


.aside {
    width: 270px;
}

.aside-post{
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.aside-post::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}


.titlex::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.section-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;

    font-family: open-sans-b, sans-serif;
}

.section-title {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    color: #000000;
}

.section-data {
    font-size: 12px;
    text-decoration: none;
    color: #000000;
    opacity: 0.54;
    font-family: open-sans-r, sans-serif;
}

.section-text a {
    text-decoration: none;
    color: #000000;
}

.section-text {
    margin-left: 18px;
}



.form{
    margin-top: 60px;
    display: flex;
    width: 100%;
}

.hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.enter-button {
    border: none;
    width: 47px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
}

.input-field {
    box-sizing: border-box;
    padding-left: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}

.mail-button {
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color: #b59f5b;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px;
}

.mail-field {
    box-sizing: border-box;
    padding-left: 18px;
    margin-top: 23px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color: #f4f7f6;
}


.nav-tegs-link {
    height: 29px;
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 7px 11px;
}

.topic-items-list {
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 16px;
    padding-top: 37px;
}
.topic-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.nav-tegs-items {
    display: inline-block;
    margin-top: 26px;
    margin-left: 3px;
    margin-right: 3px;
}

.list-theme-link {
    align-items: center;
    align-content: space-between;
    text-decoration: none;
    font-family: open-sans-b, sans-serif;
    color: #000000;
    font-size: 14px;
    padding: 0 5px 0 0;
}

.topic-items-link {
    padding-top: 18px;
   margin-left: 3px;


}



.topic-items-number {
    display: inline-block;
    vertical-align: top;
    color: #b59f5b;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
}

/*wrapper last*article*/

.content article {
    display: flex;
    flex-direction: row;
}

.wrapper {
    width: 100%;
}

.about  {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-xbox {
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text h2 {
    font-size: 20px;
    font-family: open-sans-b, sans-serif;
}

.tablet {
    display: none;
}

.about-xbox:not(:last-child) {
    margin-right: 5%;
}

.price {
display: flex;
    justify-content: space-between;
    margin-top: 26px;
  margin-bottom: 26px;
}

.price-text {
    font-size: 20px;
    font-family: open-sans-b, sans-serif;
    line-height: 1.2;
}


.price button {
    display: block;

    background: #b69f5b ;
    color: #fffcff;
    font-size: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.price-button {
    padding: 0 40px 0 40px;
    display: block;
    text-transform: uppercase;

}

.price button {
    font-size: 14px;
    font-family: open-sans-b, sans-serif;
}

.line-throught {
    text-decoration: line-through;
    font-size: 14px;
    font-family: open-sans-b, sans-serif;
}


.xbox-text {
    outline: 3px solid #b69f5b;
    margin-top: -40px;
    padding-right: 21px;
    padding-left: 21px;
    flex-grow: 1;
}
.xbox-text a {
    color: #b69f5b;
}

.xbox-text p {
    margin-bottom: 26px;
    font-family: open-sans-r, sans-serif;
    font-size: 15px;
}

.xbox-text h2 {
    font-size: 20px;
    font-family: open-sans-b, sans-serif;
    line-height: 1.2;
    padding-top: 54px;
    padding-bottom: 17px;

}

.xbox-text {
    font-family: open-sans-r, sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

/*footer*/

.footer {
    margin-top: 80px;
}

.footer-wrap:  {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.footer-address {
    padding: 30px 0;
    background-color: #f4f7f6;
}

.footer-items {
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.social-icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    display: block;
    padding: 32px 31px;
}

.social-icon-twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.social-icon-pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon-facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}


.social-icon-instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icon-tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copiright {
    display: block;
    text-decoration: none;
    color: #999999;
    font-family: open-sans-b, sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 74px;
    padding-bottom: 47px;
}

@media (min-width: 641px), (orientation: landscape) and (max-width: 1200px) {
    .box {
        width: 23%;
    }

}

@media (min-width: 641px) and (max-width: 1200px) {

    .content {
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
    }

    .content h1 {
        width: 570px;
    }

    .nav-item {
        display: none;
    }

    .header-logo  {
        width: 157px;
    }

    .header {
        max-width: 100%;
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .burger {
        width: 25px;
        height: 19px;
        visibility: visible;
    }

    .burger__line {
        display: block;
        width: 23px;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
    }

    .box  {
        width: 47%;
        display: block;
        margin-bottom: 15px;
    }



    .page-wrap {
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
}

    .main {
        width: 53%;
    }

    .aside {
        width: 44%;
    }

    .page {
        margin-top: 49px;
    }

    .about-xbox {
        width: 43%;
        margin-bottom: 28px;
    }


    .about  {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .post {
        flex-direction: column;
        margin-top: 16px;

    }

    .post-img {
        width: 100%;
    }

    .post-content {
        width: auto;
        display: block;
        border-bottom: 3px  solid  #eeeeee;
        padding-bottom: 23px;
        padding-top: 15px;
        margin-left: 0;
    }

}

@media (max-width: 641px) and (orientation: landscape)  {
    .box {
        width: 43%;
    }

}

@media (max-width: 640px) {

    /*header*/

    .content {
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }

    .header {
        max-width: 100%;
        background-image: url(../images/banner-mobile.jpg);
    }


    .content__logo {
        display: block;
        width: 100%;
        margin: 0 auto;

    }
    .content h1 {
        width: 100%;
        font-family: open-sans-b, sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        padding: 44px 0;

    }

    .content__title {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding-top: 180px;
    }


    .nav-item {
        display: none;
    }

    .header-logo {
        visibility: hidden;
    }

    .burger {
        width: 25px;
        height: 19px;
        visibility: visible;
    }

    .burger__line{
        display: block;
        width: 23px;
        height: 3px;
        background-color: white;
        margin-bottom: 5px;
    }

    /*section *box*/
    .box {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .box:not(:last-child)  {
        margin-right: 0;
    }

    /*page main*/

    .page-wrap {
        display: flex;
        flex-direction: column;
    }



    .main{
        max-width: 100%;
        margin-top: 0;
    }
    .post {
        flex-direction: column;
        margin-top: 16px;
    }
    .post-content {
        width: auto;
        display: block;
        border-bottom: 3px  solid  #eeeeee;
        padding-bottom: 23px;
        padding-top: 15px;
    }
    .aside {
        width: 100%;
    }
    /*wrapper*/
.about {
    max-width: 640px;
}

    .about-xbox:not(:last-child) {
        margin-right: 0;
    }
    .about-xbox {
        width:100%;
        margin-bottom: 25px;
    }

    .post-content {
        margin-left: 5px;
        margin-bottom: 35px;
    }

    .post-img {
        width: 100%;
    }

    .form {
        max-width: 100%;
    }


    .text-post {
        margin-top: 25px;
    }


    .nav-tegs-items {
        width: 23%;

    }

    .nav-tegs-link {
        width: 100%;
        display: block;
        padding: 7px 15px;
    }

    .nav-tegs-items {
        display: inline-block;
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }


    .desktop {
        width: 100%
    }

.form-label {
cursor: pointer;
    display: flex;
    width: 100%;
}

.input-field {
width: 100%;
}












